:root {
  --primary-color: #333;
  --secondary-color: #444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: lightcoral;
  color: #333;
}

body {
  font-family: "Catamaran", Helvetica, sans-serif;
  line-height: 1.6;
  color: rgb(214, 210, 210);
  font-size: 1.3rem;
  background-color: #333;

  /* margin-left: 5%;
  margin-top: 5%; */
}

a {
    color: lightcoral;
}
body hr {
  color: #333;
}

.container div {
    max-width: 100%;
    margin-left: 5px;
    overflow: hidden;
    padding 0 2rem;
}