<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> {{title}} - My To-Do List</title>
</head>
<body>

    <header>
        <h1>Customer Orders</h1>
    </header>    

    
        {% for order in orders %}
    <section class="container">
        <div>
            <br>
            <p>Customer name: {{order.customer_name}}</p>
            <p> Quantity: {{order.quantity}}</p>
            <p>Game Title: {{order.game_title}}</p>
            <p>Date: {{order.order_date}}</p>
            <p><a href="/orders/{{orders.index(order)}}">Go to Order Details</a></p>
            <br>
        </div>   
    </section>     

            {% endfor %}
</body>
</html>